.outerSection{
    height: 670px;
    background-image: url('../../Images/imgi_37_footer_map.png');
    background-position: center;
    background-size: cover;
    background-color: rgb(36,36,36);
    margin-top: 50px;
}
.container{
    padding-top:130px;
    width:80%;
    margin: 0 auto;
    padding-bottom: 80px;
}
.left{
    width: 50%;
}
.inner{
    display:flex;
    gap:60px;
    padding-bottom: 70px;
}
.left p{
    color: rgb(146,146,146);
    padding-top:40px;
    width:60%;
}
.right h1{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
    color: rgb(191,170,131);
}
.links ul li{
    font-size: 18px;
    color: white;
    font-weight: 400;
    padding-bottom: 15px;

}
.links a{
    color: white ;
}
.links a:hover{
    color: rgb(191,170,131);
    font-style: italic;
    padding-left: 10px;
}
.icons ul{
    display: flex;
    gap:10px;
    list-style-type: none;
    background-color: rgb(170, 150, 113);
    width: 20%;
    padding: 16px 30px;
    border-radius: 10px;

}
.icons ul li{
    
    background-color: rgb(226, 211, 180);
    padding: 5px;
    border-radius: 6px;
}
.icons ul li {
     transition: transform 0.3s ease;
    color: black;

}
.icons ul li :hover{
    transform: scale(1.1); 
    color: black;
}
.copy{
    padding-top: 33px;
    padding-left: 500px;
    background-color: rgba(0,0,0,0.5);
    color: white;
  
}
