*{
    margin: 0;
    padding: 0;
}
/* Titles, banners, hero text */
h1, h2 {
   font-family: 'Montserrat', sans-serif;
}

/* Body text */
body, p {
  font-family: 'Lora', serif;
}

/* Special quotes or highlight sections */
blockquote, .special {
  font-family: 'Playfair Display', serif;
}
